.BtnIcono {
	padding: 4px;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 4px;
	border: 0px;
}

.BtnIcono:hover {
	background-color: #bbbffa;
}

.SideIconos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#BorderDecoration {
	border-top: 30px solid #0098e0;
}

#CardUser {
	display: flex;
	flex-direction: row;
}

#MainBlog {
	width: 70%;
}

.tableComment {
	border: 1px solid #dedede;
	border-radius: 8px;
	padding: 10px;
	margin: 10px 0px;
}

.inputMsj {
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 8px;
	padding: 8px;
}

#imgTitleArticle {
	margin-top: 60px;
}

.card {
	width: 98%;
	min-height: 100px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
	margin-bottom: 7px;
}
.CardHead {
	width: 95%;
	height: 35px;
	display: flex;
	flex-direction: row;
}

.ImgTmb {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #dedede;
}

.CardTitleHead {
	width: 450px;
	height: 35px;
	padding-left: 7px;
}

.Name {
	font-size: 14px;
	font-weight: bold;
}

.FS12 {
	font-size: 12px;
}

.FS16 {
	font-size: 16px;
}
.CardBody,
.CardFoot {
	margin-top: 10px;
	width: 85%;
}

.ArticleName {
	font-size: 28px;
	font-weight: bold;
}
.LinkArticle {
	text-decoration: none;
	color: #000000;
}

.LinkArticle:hover {
	color: #3b49df;
}

.Hashtags {
	margin-top: 7px;
}

.LinksHashtags {
	text-decoration: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	padding: 3px;
	border-radius: 5px;
}

.LinksHashtags:hover {
	background-color: #ebecfc;
	border: 1px solid #c4c6f6;
}

.CardFoot {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Reactions {
	height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.LinkReactions {
	padding: 3px;
	border-radius: 5px;
	font-size: 13px;
}

.LinkReactions:hover {
	background-color: #f6f6f6;
}

.Spacer {
	height: 20px;
	width: 170px;
}

.Save {
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
	background-color: #d6d6d6;
	color: #3d3d3d;
	font-size: 16px;
}

.Save:hover {
	background-color: #bdbdbd;
	color: #090909;
}
