.btnIcon {
	padding: 4px;
	border-radius: 30px;
	margin-top: 20px;
	margin-bottom: 4px;
	border: 0px;
}

.btnIcon:hover {
	background-color: #bbbffa;
}

.sideIcons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#BorderDecoration {
	border-top: 30px solid #0098e0;
}

#CardUser {
	display: flex;
	flex-direction: row;
}

#MainBlog {
	width: 70%;
}

.tableComment {
	border: 1px solid #dedede;
	border-radius: 8px;
	padding: 10px;
	margin: 10px 0px;
}

.inputMsj {
	width: 100%;
	border: 1px solid #dedede;
	border-radius: 8px;
}

.spacing {
	margin-top: 60px;
}

.FBold {
	font-weight: bold;
}

.FGray {
	color: #525252;
}

.FS12 {
	font-size: 12px;
}

.FS16 {
	font-size: 16px;
}
