.create-post-container {
  width: 900px;
  height: 900px;
  background-color: rgb(241 241 241);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
  padding: 15px;
}

.form-control-title {
  font-size: 3rem;
  font-weight: 800;
  border-style: none;
  background-color: rgb(241 241 241);
  outline: none;
}

.form-control-hashtag {
  font-size: 1.5rem;
  font-weight: 400;
  border-style: none;
  background-color: rgb(241 241 241);
  outline: none;
  width: 800px;
}

.form-control-fullpost {
  font-size: 1.5rem;
  border-style: none;
  width: 800px;
  height: 500px;
  background-color: rgb(241 241 241);
  outline: none;
}

.form-control-image {
  font-size: 1.5rem;
  border-style: none;
  background-color: rgb(241 241 241);
  outline: none;
  width: 800px;
}
